*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(196, 203, 223);
}

header{
    background-color:#9191d6 ;
    padding: 15px;
}

.naslov{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 10px;
    font:50px;

}
nav {
    height:30px;
    background-color: rgb(198, 230, 230);
}

nav ul {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: rgb(188, 183, 192);
}

nav ul li {
    float: left;
}

nav li a{
    display: block;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(156, 118, 160);
}

section{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0%;
    border-bottom:1px,solid,red;
    margin: 10px;
    padding: 10px;   
}

p{
    text-indent: 15px;
    text-align: left;

}